name: Hello World Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  greeting:
    runs-on: ubuntu-latest
    
    env:
      MESSAGE: "Déploiement réussi"
    
    steps:
    - name: Récupération du code
      uses: actions/checkout@v4
      
    - name: Configuration de Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'
      
    - name: Installation des dépendances
      run: npm install
      
    - name: Exécution du linting
      run: npm run lint
      
    - name: Dire bonjour
      run: echo "Hello, World!"
      
    - name: Affichage de la variable d'environnement
      run: echo "$MESSAGE"
      
    - name: Utilisation du secret API Key
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        echo "La clé API est configurée"
        echo "Valeur de la clé API: $API_KEY"
        